<div class="mt-5 p-3 border border-5 rounded border-success" style="inline-size: fit-content">
  <h3 class="">Total Number of Categories: <%= @categories %></h3>
  <hr>
  <h3>Total Number of Different Products: <%= @products %></h3>
</div>
